/* box model reset for Twitter Bootstrap */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.tictactoe-board tr td div {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../img/sprite.png");
    background-position: 40px;
    border: 1px solid black;
}

.empty {
    background-position: 40px !important;
}

.markX {
    background-position: 0px !important;
}

.markO {
    background-position: 80px !important;
}

.won-markX, .won-markO {
    background-size: 360px 130px;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.png");
    position: relative;
}

.won-markX .tictactoe-board, .won-markO .tictactoe-board {
    opacity: 0.8;
}

.won-markO {
    background-position: -120px;
}

.board-locked {
    background-color: #ccc;
}

.board-open {
    background-color: #fff;
}

.board-wrapper {
    padding: 8px 8px 0 0;
}

.game-over {
    opacity: 0.5;
}

.player-markX {
    color: darkred;
}

.player-markO {
    color: #666;
}

table.big-board {
    margin-left: -5px;
    margin-top: 10px;
}
